<div fxLayout="row wrap">
    <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
        class="m-gap p-gap" *ngFor="let navUrl of navigationUrl">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ navUrl.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content (click)="navigate(navUrl.route)" class="card-content">
                <img mat-card-image [src]="navUrl.image" alt="Photo of a Shiba Inu">
                <!-- <p>
                    {{ navUrl.desp | slice:0:130 }}...
                </p> -->
            </mat-card-content>
        </mat-card>
    </div>
</div>