body {
  .mat-select-panel {
    background-color: mat-color($background, card);
  }
  .mat-select-trigger,
  .mat-option {
    font-size: $font-size-base;
  }
  .mat-select-trigger {
    height: 0px;
    padding-bottom: 0px;
  }
  .mat-select-placeholder {
    padding-left: 0;
  }
  .app-dark .mat-select-panel {
    background-color: mat-color($dark-background, card);
  }
}
