<div class="nextButton">
    <div>
        <div class="headerText">New MHC Registration</div>
    </div>
    <div>
        <button mat-stroked-button class="padding-x" color="warn" (click)="goBack(stepper)"
            [disabled]="stepper.selectedIndex === 0" type="button">Back</button>
        <button mat-stroked-button class="padding-x" color="primary" (click)="goForward(stepper)"
            [disabled]="stepper.selectedIndex === 3" type="button">Next</button>
    </div>

</div>
<mat-horizontal-stepper linear #stepper (selectionChange)="onStepChange($event)">

    <mat-step [stepControl]="general">

        <form [formGroup]="general">
            <ng-template matStepLabel>Patient Details</ng-template>
            <!-- {{ general.value | json }} -->
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Patient Category :</mat-label>
                        <mat-select placeholder="Patient Category " formControlName="category"
                            (selectionChange)="getPatientCategory($event.value)">
                            <mat-option *ngFor="let patientCategory of patientCategoryTypes"
                                [value]="patientCategory.mastervalue">
                                {{patientCategory.mastervalue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Source :</mat-label>
                        <mat-select placeholder="source" formControlName="source">
                            <mat-option *ngFor="let source of sourceTypes" [value]="source.mastervalue">
                                {{source.mastervalue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="refByDocter">
                    <mat-form-field class="w-100">
                        <mat-label>Referred By :</mat-label>
                        <input matInput placeholder="Referred By" [matAutocomplete]="autoreferredBy"
                            formControlName="referredBy">
                        <mat-autocomplete #autoreferredBy="matAutocomplete" [displayWith]="displayFnreferredBy">
                            <mat-option *ngFor="let refDocter of filteredReferredBy | async" [value]="refDocter">

                                <span>{{refDocter.doctor_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="Referred By" formControlName="referredBy">
                            <mat-option *ngFor="let refDocter of refDocterTypes" [value]="refDocter.doctor_name">
                                {{refDocter.doctor_name}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="general.controls.referredBy.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="general.controls.referredBy.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>UHID :</mat-label>
                        <input matInput placeholder="UHID" formControlName="uhid">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Gender :</mat-label>
                        <mat-select placeholder="Select Furnished Status" formControlName="gender">
                            <mat-option value="">Select</mat-option>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female </mat-option>
                            <mat-option value="Transgender">Transgender</mat-option>
                        </mat-select>
                        <button mat-button *ngIf="general.controls.gender.value" matSuffix mat-icon-button
                            aria-label="Clear" (click)="general.controls.gender.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Slt :</mat-label>
                        <mat-select placeholder="Slt" formControlName="slt">
                            <mat-option *ngFor="let gender of genderTypes" [value]="gender.mastervalue">
                                {{gender.mastervalue}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="general.controls.slt.value" matSuffix mat-icon-button
                            aria-label="Clear" (click)="general.controls.slt.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Patient Name :</mat-label>
                        <input matInput placeholder="Patient Name" autocomplete="off" formControlName="pname">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Spouse/Father Name :</mat-label>
                        <input matInput placeholder="Patient Name" autocomplete="off" formControlName="fathername">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate"
                            formControlName="setDate" placeholder="Date of Birth" (dateChange)="date($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Age :</mat-label>
                        <input matInput placeholder="age" autocomplete="off" formControlName="age" type="number"
                            maxlength="3">
                        <mat-error *ngIf="general.controls['age'].touched && general.get('age').hasError('required')">
                            Age is required
                        </mat-error>
                        <mat-error *ngIf="general.controls['age'].touched && general.get('age').hasError('max')">
                            Age Less than 150
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Age Type :</mat-label>
                        <mat-select placeholder="Age Type" formControlName="ageType">
                            <mat-option value="">Select</mat-option>
                            <mat-option value="Years">Years</mat-option>
                            <mat-option value="Months">Months</mat-option>
                            <mat-option value="Days">Days</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <!-- <div>
                <button mat-raised-button mat-button matStepperNext color="primary"
                    (click)="getAddressApis()">Next</button>
            </div> -->
        </form>
    </mat-step>
    <mat-step [stepControl]="address">
        <form [formGroup]="address">
            <ng-template matStepLabel>Address</ng-template>
            <!-- {{ address.value | json }} -->
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Country :</mat-label>
                        <input matInput placeholder="Search Country" [matAutocomplete]="auto1"
                            formControlName="country">
                        <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let country of filteredEmployee | async" [value]="country"
                                (selectionChange)="getCountryNames($event.value)">

                                <span>{{country.country_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <input matInput placeholder="Search employee" [matAutocomplete]="auto"
                            [formControl]="employeeCtrl">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let country of filteredEmployee | async" [value]="country.country_name">

                                <span>{{country.country_name}}</span>

                            </mat-option>
                        </mat-autocomplete> -->
                        <!-- <mat-select placeholder="country" formControlName="country"
                            (selectionChange)="getCountryNames($event.value)">
                            <mat-option *ngFor="let country of countryTypes" [(value)]="country.country_name">
                                {{country.country_name}}
                            </mat-option>
                        </mat-select> -->
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>State :</mat-label>
                        <input matInput placeholder="Search State" [matAutocomplete]="auto2" formControlName="state">
                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFnState">
                            <mat-option *ngFor="let state of filteredState | async" [value]="state"
                                (selectionChange)="getStateNames($event.value)">

                                <span>{{state.state_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>District :</mat-label>
                        <input matInput placeholder="Search district" [matAutocomplete]="auto3"
                            formControlName="district">
                        <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFnDistrict">
                            <mat-option *ngFor="let district of filteredDistrict | async" [value]="district">

                                <span>{{district.city_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="District" formControlName="district"
                            (selectionChange)="getDistrictNames($event.value)">
                            <mat-option *ngFor="let district of districtTypes" [value]="district.city_name">
                                {{district.city_name}}
                            </mat-option>
                        </mat-select> -->
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Area/City :</mat-label>
                        <input matInput placeholder="Search area" [matAutocomplete]="auto4" formControlName="area">
                        <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFnArea">
                            <mat-option *ngFor="let pincode of filteredArea | async" [value]="pincode">

                                <span>{{pincode.pin_description}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="area" formControlName="area">
                            <mat-option *ngFor="let pincode of pincodeTypes" [value]="pincode">
                                {{pincode.pin_description}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="address.controls.area.value" matSuffix mat-icon-button
                            aria-label="Clear" (click)="address.controls.area.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Pincode:</mat-label>
                        <input matInput placeholder="pincode" autocomplete="off" formControlName="pincode">
                    </mat-form-field>
                </div>

                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Address :</mat-label>
                        <input matInput placeholder="address" autocomplete="off" formControlName="fullAddress">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Mobile Number :</mat-label>
                        <input matInput placeholder="Mobile Number" maxlength="10" type="tel" formControlName="mobileNo"
                            (keypress)=_keyPress($event)>
                        <mat-error *ngIf="address.get('mobileNo').hasError('required')">
                            Please fill out this field.
                        </mat-error>
                        <mat-error *ngIf="address.get('mobileNo').hasError('pattern')">
                            Mobile Number should be 10 digit.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div>
                <button mat-raised-button mat-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button mat-button matStepperNext color="primary">Next</button>
            </div> -->
        </form>
    </mat-step>
    <mat-step [stepControl]="corporate">
        <form [formGroup]="corporate">
            <!-- {{ corporate.value | json }} -->
            <ng-template matStepLabel>Visit Details</ng-template>
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Corporate :</mat-label>
                        <input matInput placeholder="Search Corporate" [matAutocomplete]="autoCorporate"
                            formControlName="corporateList">
                        <mat-autocomplete #autoCorporate="matAutocomplete" [displayWith]="displayFnCorporate">
                            <mat-option *ngFor="let corporateList of filteredCorporate | async" [value]="corporateList"
                                (selectionChange)="getPriceList($event.value)">

                                <span>{{corporateList.party_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="Corporate" formControlName="corporateList"
                            (selectionChange)="getPriceList($event.value)">
                            <mat-option *ngFor="let corporateList of corporateListTypes" [value]="corporateList">
                                {{corporateList.party_name}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="corporate.controls.corporateList.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="corporate.controls.corporateList.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Price List :</mat-label>
                        <mat-select placeholder="Price List" formControlName="priceList">
                            <mat-option *ngFor="let priceList of priceListTypes" [value]="priceList">
                                {{priceList.pricelistname}}
                            </mat-option>
                            <!-- <mat-option *ngIf="priceListTypes.length <= 0" value="General">
                                General
                            </mat-option> -->
                        </mat-select>
                        <button mat-button *ngIf="corporate.controls.priceList.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="corporate.controls.priceList.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Attending Physician:</mat-label>
                        <input matInput placeholder="Attending Physician" [matAutocomplete]="autoPhysician"
                            formControlName="physician">
                        <mat-autocomplete #autoPhysician="matAutocomplete" [displayWith]="displayFnphysician">
                            <mat-option *ngFor="let physician of filteredPhysician | async" [value]="physician"
                                (selectionChange)="getPackageList($event.value)">

                                <span>{{physician.doctor_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="Attending Physician" formControlName="physician"
                            (selectionChange)="getPackageList($event.value)">
                            <mat-option *ngFor="let attendingPhysician of attendingPhysicianTypes"
                                [value]="attendingPhysician">
                                {{attendingPhysician.doctor_name}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="corporate.controls.physician.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="corporate.controls.physician.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Package :</mat-label>
                        <mat-select placeholder="Package" formControlName="package">
                            <mat-option *ngFor="let packageType of packageTypes" [value]="packageType"
                                (selectionChange)="getPackageFee($event.value)">
                                {{packageType.packagename}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="corporate.controls.package.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="corporate.controls.package.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div>
                <button mat-raised-button mat-button matStepperPrevious color="primary">Back</button>
                <button mat-raised-button mat-button matStepperNext color="primary">Next</button>
            </div> -->
        </form>
    </mat-step>
    <!-- <mat-step [stepControl]="opEpisode">
        <form [formGroup]="opEpisode">
            <ng-template matStepLabel>Op Episode</ng-template>
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Attending Physician:</mat-label>
                        <mat-select placeholder="Attending Physician" formControlName="physician"
                            (selectionChange)="getConsultationList($event.value)">
                            <mat-option *ngFor="let attendingPhysician of attendingPhysicianTypes"
                                [value]="attendingPhysician">
                                {{attendingPhysician.doctor_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Consultation Type:</mat-label>
                        <mat-select placeholder="Consultation Type" formControlName="consultationType"
                            (selectionChange)="getConsultationFee($event.value)">
                            <mat-option *ngFor="let consultationList of consultationListTypes"
                                [value]="consultationList">
                                {{consultationList.servicename}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Consulting Fee :</mat-label>
                        <input matInput placeholder="Consulting Fee" formControlName="consultingFee">
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-step> -->
    <mat-step [stepControl]="payment">
        <form [formGroup]="payment">
            <ng-template matStepLabel>Payment</ng-template>

            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Registration Fee :</mat-label>
                        <input matInput placeholder="Registration Fee" formControlName="registrationFee">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Cons. Rate :</mat-label>
                        <input matInput placeholder="Cons. Rate" type="number" formControlName="consRate">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Package Fee :</mat-label>
                        <input matInput placeholder="Package Fee" type="number" formControlName="packageFee">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Total Amount :</mat-label>
                        <input matInput placeholder="Total Amount" type="number" formControlName="totalAmount">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Payment Mode :</mat-label>
                        <mat-select placeholder="Payment Mode" formControlName="paymentMode">
                            <mat-option *ngFor="let paymentMode of paymentModeTypes" [value]="paymentMode.mastervalue">
                                {{paymentMode.mastervalue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'EFT'">
                    <mat-form-field class="w-100">
                        <mat-label>EFT :</mat-label>
                        <input matInput placeholder="EFT" formControlName="eft">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Card Type :</mat-label>
                        <mat-select placeholder="Card Type" formControlName="cardtype">
                            <mat-option value="">Select</mat-option>
                            <mat-option value="Rupay">Rupay</mat-option>
                            <mat-option value="Maestro">Maestro</mat-option>
                            <mat-option value="Master Card">Master Card</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Name in Card :</mat-label>
                        <input matInput placeholder="Name in Card" formControlName="cardName">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Card No :</mat-label>
                        <input matInput placeholder="Card No" formControlName="cardNo">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Card Expiry" [min]="expiredMinDate"
                            [max]="expiredMaxDate" (dateChange)="date2($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <mat-label>Cheque/DD No.</mat-label>
                        <input matInput placeholder="Cheque/DD No." formControlName="ddNo">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker3" placeholder="Card Expiry" [min]="ddexpiredMinDate"
                            [max]="ddexpiredMaxDate" (dateChange)="date3($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <mat-label>Cheque/DD Bank.</mat-label>
                        <mat-select placeholder="Payment Mode" formControlName="ddBank">
                            <mat-option *ngFor="let bank of bankTypes" [value]="bank.mastervalue">
                                {{bank.mastervalue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="submitButton">
                <!-- <button mat-raised-button mat-button matStepperPrevious color="primary">Back</button> -->
                <button mat-stroked-button color="primary" class="padding-x" (click)="submit()"
                    *ngIf="saveBth">Save</button>
                <button mat-stroked-button color="primary" class="padding-x" (click)="submitAndContinue()"
                    *ngIf="saveBth">Save and
                    Continue</button>
                <!-- <button mat-stroked-button color="primary" class="padding-x" (click)="saveAndPrint()"
                    *ngIf="saveAndPrintBtn">Save and
                    Print</button>
                <button mat-stroked-button color="primary" class="padding-x" (click)="print()"
                    *ngIf="printBtn">Print</button> -->
                <button mat-stroked-button (click)="reset()" color="warn">Reset</button>
            </div>
        </form>
    </mat-step>
    <!-- <mat-step label="Conformation">
        <ng-template matStepLabel>Done</ng-template>
        Details taken.
        <div>
            <button mat-raised-button mat-button matStepperPrevious color="primary">Back</button>
            <button mat-raised-button mat-button (click)="stepper.reset()" color="warm">Reset</button>
        </div>
    </mat-step> -->
</mat-horizontal-stepper>