<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                OP Patient List
            </mat-panel-title>
            <mat-panel-description>
                <mat-icon>search</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="search">
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Patient Type :</mat-label>
                        <mat-select placeholder="Select Branch" formControlName="patientType">
                            <!-- <mat-option value="">Select</mat-option> -->
                            <mat-option value="All">ALL</mat-option>
                            <mat-option value="Consulted">Consulted</mat-option>
                            <mat-option value="Not Consulted">Not Consulted</mat-option>
                            <mat-option value="Adviced Admission">Adviced Admission</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100"
                    class="m-gap p-gap">
                    <button mat-stroked-button class="padding-x" color="warn" (click)="searchCall()">Search</button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>
<div fxLayout fxLayoutAlign="center center" *ngIf="searchList.length > 0">
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="mat-elevation-z8" *ngIf="searchList.length > 0">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="UHID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UHID </th>
            <td mat-cell *matCellDef="let element"> {{element.uhid}} </td>
        </ng-container>

        <ng-container matColumnDef="OP No">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> OP No.</th>
            <td mat-cell *matCellDef="let element"> {{element.opn}} </td>
        </ng-container>

        <ng-container matColumnDef="Patient Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
            <td mat-cell *matCellDef="let element" [ngClass]="{
                'is-red': element.prescription_status === 'Consulted'
              }"> {{element.dis_name}} </td>
        </ng-container>

        <ng-container matColumnDef="Doctor Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Name</th>
            <td mat-cell *matCellDef="let element"> {{element.doctor_name}} </td>
        </ng-container>
        <ng-container matColumnDef="Mobile No">
            <th mat-header-cell *matHeaderCellDef> Mobile No </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile_primary}} </td>
        </ng-container>
        <ng-container matColumnDef="States">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.prescription_status}} </td>
        </ng-container>
        <ng-container matColumnDef="Service Billing">
            <th mat-header-cell *matHeaderCellDef> Service Billing </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="navServiceBilling(element)"
                    matTooltip="Service Billing">
                    <mat-icon>pageview</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25,50,100]"></mat-paginator>
</div>