<div class="relative">
    <div class="form-bg">
        <div fxLayout="row" fxLayoutAlign="center center" class="pt-2 forget-center">
            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
                <mat-card class="login-session">
                    <div class="text-center">
                        <h2 class="base-border mat-text-warn mb-1">Forgot Password?</h2>
                        <i class="fa fa-lock fa-4x"></i>
                        <p>You can reset your password here.</p>
                        <form #form="ngForm">
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Email" type="text" name="name" required>
                                </mat-form-field>
                                <button class="mat-blue" mat-raised-button>Submit</button>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>