<div class="app search-i" [dir]="layoutDir"
  [ngClass]="[ menuLayout, selectedSidebarImage, selectedSidebarColor, selectedHeaderColor, collapsedClass]"
  [class.app-dark]="dark" [class.boxed]="boxed" [class.collapsed-sidebar]="collapseSidebar"
  [class.compact-sidebar]="compactSidebar" [class.bg-img-disable]="!sidebarBg">
  <mat-sidenav-container class="app-inner">
    <!-- <mat-sidenav #sidemenu class="sidebar-panel" id="sidebar-panel" [mode]="isOver() ? 'over' : 'side'"
      [opened]="isOver()" (mouseover)="menuMouseOver()" (mouseout)="menuMouseOut()">
      <div class="opt-side relative ">
        <div class="sidebar-container ">
          <div class="branding text-center">
            <h2> <span>Agile Health HIMS</span>
            </h2>
          </div>
          <div class="main-nav">
            <mat-nav-list appAccordion class="navigation relative">
              <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getAll()">
                <a appAccordionToggle class="relative" mat-ripple (click)="navigate(menuitem.state)"
                  *ngIf="menuitem.type === 'link'">
                  <mat-icon>{{ menuitem.icon }}</mat-icon>
                  <span>{{ menuitem.name }}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
                <a appAccordionToggle class="relative" mat-ripple href="{{menuitem.state}}"
                  *ngIf="menuitem.type === 'extLink'">
                  <mat-icon>{{ menuitem.icon }}</mat-icon>
                  <span>{{ menuitem.name }}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
                <a appAccordionToggle class="relative" mat-ripple href="{{menuitem.state}}" target="_blank"
                  *ngIf="menuitem.type === 'extTabLink'">
                  <mat-icon>{{ menuitem.icon }}</mat-icon>
                  <span>{{ menuitem.name }}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                </a>
                <a appAccordionToggle class="relative" mat-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
                  <mat-icon>{{ menuitem.icon }}</mat-icon>
                  <span>{{ menuitem.name }}</span>
                  <span fxFlex></span>
                  <span class="menu-badge mat-{{ badge.type }}"
                    *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
                  <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
                </a>
                <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                  <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                    <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative"
                      mat-ripple>{{ childitem.name }}</a>
                  </mat-list-item>
                </mat-nav-list>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-nav-list>
          </div>
        </div>
      </div>
      <div class="bg-overlay"></div>
    </mat-sidenav> -->
    <mat-toolbar class="main-header">
      <div class="horizontal-top-bar w-100">
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
          <div class="search-bar" fxFlex>
            <form class="search-form">
              <mat-icon>search</mat-icon>
              <input type="text" placeholder="Search" />
            </form>
          </div>
        </div>
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
          <div class="horizontal-logo">
            <div class="branding text-center">
              <h2><i class="fa fa-superpowers" aria-hidden="true"></i> <span> OPTIMA</span>
              </h2>
            </div>
          </div>
        </div>
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100">
          <div class="menu-links">
            <button appToggleFullscreen mat-icon-button>
              <mat-icon>fullscreen</mat-icon>
            </button>
            <button [mat-menu-trigger-for]="user2" mat-icon-button class="ml-xs overflow-visible">
              <mat-icon>message</mat-icon>
            </button>
            <mat-menu #user2="matMenu" class="opt-menu" x-position="after">
              <div mat-menu-item class="head-menu grad-blue">
                Message Menu
              </div>
              <button mat-menu-item>
                <!-- <img width="40" src="assets/images/user-1.jpg" alt=""> -->
                Next Update for angular 5
              </button>
              <button mat-menu-item>
                <!-- <img width="40" src="assets/images/user-2.jpg" alt=""> -->
                Check out our new admin theme
              </button>
              <button mat-menu-item>
                <!-- <img width="40" src="assets/images/user-3.jpg" alt=""> -->
                Expedita quo, laboriosam officia.
              </button>
              <button mat-menu-item>
                <!-- <img width="40" src="assets/images/user-4.jpg" alt=""> -->
                Lorem ipsum dolor sit amet consectetur.
              </button>
            </mat-menu>
            <button [mat-menu-trigger-for]="user1" mat-icon-button class="ml-xs overflow-visible">
              <mat-icon>reorder</mat-icon>
              <span class="notification-label">3</span>
            </button>
            <mat-menu #user1="matMenu" class="opt-menu" x-position="before">
              <div mat-menu-item class="head-menu grad-blue">
                User Menu
              </div>
              <button mat-menu-item>
                <mat-icon>show_chart</mat-icon>
                Charts
              </button>
              <button mat-menu-item>
                <mat-icon>navigation</mat-icon>
                Maps
              </button>
              <button mat-menu-item>
                <mat-icon>web</mat-icon>
                Calendar Settings
              </button>
            </mat-menu>
            <button mat-icon-button class="ml-xs overflow-visible" routerLink="/home">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button class="ml-xs overflow-visible">
              <mat-icon>notifications</mat-icon>
              <span class="notification-label">2</span>
            </button>
            <button [mat-menu-trigger-for]="user" mat-icon-button class="ml-xs">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu #user="matMenu" class="opt-menu" x-position="before">
              <div mat-menu-item class="head-menu grad-blue">
                Welcome {{nickname}}
              </div>
              <!-- <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Setting
              </button> -->
              <!-- <button mat-menu-item>
                <mat-icon>account_box</mat-icon>
                Profile
              </button> -->
              <!-- <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                Disable notifications
              </button> -->
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Sign Out
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div class="vertical-menu w-100">
        <!-- <button mat-icon-button class="lines-btn">
          <mat-icon>menu</mat-icon>
        </button> -->

        <div class="search-bar" fxFlex [class.search-active]="searchFocus">

          <form class="search-form">
            <div style="color: black; padding: 0 30px;">
              <h2> <span>Agile Health HIMS</span>
              </h2>
            </div>
            <!-- <mat-icon>search</mat-icon>
            <input type="text" placeholder="Search" (focus)="searchFocus = true" (focusout)="searchFocus = false " /> -->
          </form>
        </div>
        <span fxFlex></span>
        <button mat-icon-button class="ml-xs overflow-visible" routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
        <button appToggleFullscreen mat-icon-button class="sm-disable">
          <mat-icon>fullscreen</mat-icon>
        </button>
        <!-- <button [mat-menu-trigger-for]="user2" mat-icon-button class="ml-xs overflow-visible">
          <mat-icon>notifications</mat-icon>
          <span class="notification-label">2</span>
        </button> -->
        <mat-menu #user2="matMenu" class="opt-menu" x-position="after">
          <div mat-menu-item class="head-menu grad-blue">
            Message Menu
          </div>
          <button mat-menu-item>
            <!-- <img width="40" src="assets/images/user-1.jpg" alt=""> -->
            Next Update for angular 5
          </button>
          <button mat-menu-item>
            <!-- <img width="40" src="assets/images/user-2.jpg" alt=""> -->
            Check out our new admin theme
          </button>
          <button mat-menu-item>
            <!-- <img width="40" src="assets/images/user-3.jpg" alt=""> -->
            Expedita quo, laboriosam officia.
          </button>
          <button mat-menu-item>
            <!-- <img width="40" src="assets/images/user-4.jpg" alt=""> -->
            Lorem ipsum dolor sit amet consectetur.
          </button>
        </mat-menu>
        <button [mat-menu-trigger-for]="user" mat-icon-button class="ml-xs">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #user="matMenu" class="opt-menu" x-position="before">
          <div mat-menu-item class="head-menu grad-blue">
            Welcome {{nickname}}
          </div>
          <!-- <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            Profile
          </button> -->
          <!-- <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            Disable notifications
          </button> -->
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Sign Out
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
      <mat-spinner color="accent" style="top: 50%; left: 50%;transform: translate(-50%, -50%);"></mat-spinner>
    </div>
    <div class="horizontal-menu text-center">
      <nav>
        <ul class="main-h-list">
          <li *ngFor="let menuitem of horizontalMenuItems.getAll()">
            <a [routerLink]="['/'+menuitem.state]" *ngIf="menuitem.type === 'link'">
              <mat-icon>{{ menuitem.icon }}</mat-icon>
              <span>{{ menuitem.name }}</span>
            </a>
            <a [routerLink]="['/'+menuitem.state]" *ngIf="menuitem.type === 'sub'">
              <mat-icon>{{ menuitem.icon }}</mat-icon>
              <span>{{ menuitem.name }}</span>
            </a>
            <ul class="dropdown" *ngIf="menuitem.type === 'sub'">
              <li *ngFor="let childitem of menuitem.children">
                <a [routerLink]="['/'+childitem.state ]">{{ childitem.name }}</a>
                <ul class="dropdown" *ngIf="childitem.type === 'super-sub'">
                  <li *ngFor="let subchild of childitem.subchildren">
                    <a [routerLink]="['/'+subchild.state ]">{{subchild.name}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="body-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
  <!-- Demo Purposes Only -->
  <!-- <button mat-fab color="warn" class="mat-fab-bottom-right" (click)="showSettings = true">
    <mat-icon class="mat-24">settings</mat-icon>
  </button>
  <mat-card class="settings-panel" *ngIf="showSettings">
    <mat-toolbar color="warn">
      <span fxFlex>Options</span>
      <button mat-icon-button (click)="showSettings = false">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-card-content class="demo-checkbox">
      <div class="sep-block">
        <div class="sep-block-header">
          <h6>Sidebar Image</h6>
        </div>

        <div class="bg-img clearfix">
          <div [ngClass]="{'border-active' : isBgActive('bg-1')}">
            <a (click)="onSelectSidebarImage('bg-1')">
              <img src="assets/images/bg-5.jpg" alt="">
            </a>
          </div>
          <div [ngClass]="{'border-active' : isBgActive('bg-2')}">
            <a (click)="onSelectSidebarImage('bg-2')">
              <img src="assets/images/bg-2.jpg" alt="">
            </a>
          </div>
          <div [ngClass]="{'border-active' : isBgActive('bg-3')}">
            <a (click)="onSelectSidebarImage('bg-3')">
              <img src="assets/images/bg-3.jpg" alt="">
            </a>
          </div>
          <div [ngClass]="{'border-active' : isBgActive('bg-4')}">
            <a (click)="onSelectSidebarImage('bg-4')">
              <img src="assets/images/bg-4.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="sep-block">
        <div>
          <mat-checkbox [(ngModel)]="sidebarBg"> <strong>Sidebar Image</strong></mat-checkbox>
        </div>
      </div>
      <div class="sep-block">
        <div class="color-sidebar clearfix">
          <div class="sep-block-header">
            <h6>Sidebar Color</h6>
          </div>

          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-default')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-default')"><i aria-hidden="true"
                class="color-default fa fa-circle fa-lg def"></i>
              Default</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-green')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-green')"><i aria-hidden="true"
                class="color-green fa fa-circle fa-lg"></i>
              Green</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-red')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-red')"><i aria-hidden="true"
                class="color-red fa fa-circle fa-lg"></i>
              Red</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-purple')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-purple')"><i aria-hidden="true"
                class="color-purple fa fa-circle fa-lg"></i>
              Purple</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-pink')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-pink')"><i aria-hidden="true"
                class="color-pink fa fa-circle fa-lg"></i>
              Pink</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-blue')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-blue')"><i aria-hidden="true"
                class="color-blue fa fa-circle fa-lg"></i>
              Blue</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-green-deep')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-green-deep')"><i aria-hidden="true"
                class="color-green-deep fa fa-circle fa-lg"></i>
              Green Deep</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-brown')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-brown')"><i aria-hidden="true"
                class="color-brown fa fa-circle fa-lg"></i>
              Brown</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isSidebarActive('sidebar-orange')}">
            <a href="javascript:void(0)" (click)="onSelectedSidebarColor('sidebar-orange')"><i aria-hidden="true"
                class="color-orange fa fa-circle fa-lg"></i>
              Orange</a>
          </div>
        </div>
      </div>
      <div class="sep-block">
        <div class="sep-block-header">
          <h6>Header Color</h6>
        </div>
        <div class="color-header clearfix">


          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-default')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-default')"><i aria-hidden="true"
                class="color-default fa fa-circle fa-lg def"></i>
              Default</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-green')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-green')"><i aria-hidden="true"
                class="color-green fa fa-circle fa-lg"></i>
              Green</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-red')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-red')"><i aria-hidden="true"
                class="color-red fa fa-circle fa-lg"></i>
              Red</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-purple')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-purple')"><i aria-hidden="true"
                class="color-purple fa fa-circle fa-lg"></i>
              Purple</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-pink')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-pink')"><i aria-hidden="true"
                class="color-pink fa fa-circle fa-lg"></i>
              Pink</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-blue')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-blue')"><i aria-hidden="true"
                class="color-blue fa fa-circle fa-lg"></i>
              Blue</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-green-deep')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-green-deep')"><i aria-hidden="true"
                class="color-green-deep fa fa-circle fa-lg"></i>
              Green Deep</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-brown')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-brown')"><i aria-hidden="true"
                class="color-brown fa fa-circle fa-lg"></i>
              Brown</a>
          </div>
          <div class="mb-1" [ngClass]="{'border-active' : isHeaderActive('header-orange')}">
            <a href="javascript:void(0)" (click)="onSelectedHeaderColor('header-orange')"><i aria-hidden="true"
                class="color-orange fa fa-circle fa-lg"></i>
              Orange</a>
          </div>
        </div>
      </div>
      <div class="sep-block">
        <div class="sep-block-header">
          <h6>Layouts</h6>
        </div>
        <div class="pb-1">
          <mat-checkbox [(ngModel)]="horizontal" (change)="changeMenuLayout($event.checked)">Horizontal Menu
          </mat-checkbox>
        </div>
        <div class="pb-1">
          <mat-checkbox [(ngModel)]="collapseSidebar" (change)="compactSidebar = true">Collapsed Sidebar</mat-checkbox>
        </div>
        <div class="pb-1">
          <mat-checkbox [(ngModel)]="compactSidebar" (change)="collapseSidebar = false">Compact Sidebar</mat-checkbox>
        </div>
        <div class="pb-1">
          <mat-checkbox [(ngModel)]="boxed">Boxed Layout</mat-checkbox>
        </div>
        <div class="pb-1">
          <mat-checkbox [(ngModel)]="dark">Dark Mode</mat-checkbox>
        </div>
        <div class="pb-1">
          <mat-checkbox (change)="layoutDir = (layoutDir == 'rtl' ? 'ltr' : 'rtl')">RTL</mat-checkbox>
        </div>
      </div>
      <div class="sep-block">
        <div class="sep-block-header">
          <h6>Language</h6>
        </div>
        <div class="pb-3">
          <mat-form-field>
            <mat-select class="m0-1" [(ngModel)]="currentLang" #langSelect="ngModel"
              (ngModelChange)="translate.use(currentLang)">
              <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card> -->
  <!-- /Demo Purposes Only -->
</div>