<div class="relative">
    <div class="form-bg">
        <div fxLayout="row" fxLayoutAlign="center center" class="pt-2 register-center">
            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
                <mat-card class="login-session">
                    <div>
                        <h2 class="base-border">Registration Now</h2>
                        <p>Enter Your Login Details</p>
                        <form #form="ngForm">
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Name" type="text" name="name" required>
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Company Name" type="text" name="cname" required>
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Country" type="text" name="ctry" required>
                                </mat-form-field>
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="E Mail" type="email" name="email" required>
                                </mat-form-field>
                                <mat-form-field style="width: 100%" class="mb-1">
                                    <input matInput placeholder="Password" type="password" name="password" required>
                                </mat-form-field>
                                <button class="mat-green" mat-raised-button>Submit</button>
                            </div>
                            <!-- <div>
                                <p>Sign Up Using</p> <a href="#" class="shared-icon mr-1 mat-blue"><i
                                        class="fa fa-facebook fa-lg mr-1"></i> Facebook</a><a href="#"
                                    class="shared-icon mat-red"><i class="fa fa-google fa-lg mr-1"></i>Google</a>
                            </div> -->
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>