.nextButton {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  align-items: center;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  align-items: center;
}
.padding-x {
  margin: 0 5px;
}
.headerText {
  font-weight: 600;
  letter-spacing: 1.5px;
  /* line-height: 2; */
  color: #e15d65;
  margin: 0 5px;
}
table {
  width: 100%;
}

.mat-header-cell {
  padding: 0px 10px !important;
  text-align: center;
}
.mat-cell {
  padding: 0px 10px !important;
}
.table-head {
  padding: 5px 10px !important;
  text-align: center;
}
.table-cell {
  padding: 5px 10px !important;
}
