<div class="nextButton">
    <div>
        <div class="headerText">OP Service Billing</div>
    </div>
    <div>
        <button mat-stroked-button class="padding-x" color="warn" (click)="goBack(stepper)"
            [disabled]="stepper.selectedIndex === 0" type="button">Back</button>
        <button mat-stroked-button class="padding-x" color="primary" (click)="goForward(stepper)"
            [disabled]="stepper.selectedIndex === 2" type="button">Next</button>
    </div>

</div>

<mat-horizontal-stepper linear #stepper (selectionChange)="onStepChange($event)">

    <mat-step [stepControl]="general">

        <form [formGroup]="general">
            <ng-template matStepLabel>Patient Details</ng-template>
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Bill No :</mat-label>
                        <input matInput placeholder="Bill No" formControlName="billno">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>UHID :</mat-label>
                        <input matInput placeholder="UHID" formControlName="uhid">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>OP No. :</mat-label>
                        <input matInput placeholder="UHID" formControlName="opno">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Patient Name :</mat-label>
                        <input matInput placeholder="Patient Name" autocomplete="off" formControlName="pname">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Attending Physician :</mat-label>
                        <input matInput placeholder="Attending Physician" autocomplete="off"
                            formControlName="physician">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Bill Type :</mat-label>
                        <mat-select placeholder="Bill Type" formControlName="billType">
                            <mat-option value="Cash">Cash</mat-option>
                            <mat-option value="Credit">Credit</mat-option>
                        </mat-select>
                        <button mat-button *ngIf="general.controls.billType.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="general.controls.billType.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Price List :</mat-label>
                        <mat-select placeholder="Price List" formControlName="priceList">
                            <mat-option *ngFor="let priceList of priceListTypes" [value]="priceList">
                                {{priceList.pricelistname}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Mobile Number :</mat-label>
                        <input matInput placeholder="Mobile Number" maxlength="10" type="number" autocomplete="off"
                            formControlName="mobileNo">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Concession Source :</mat-label>
                        <mat-select placeholder="Cons. Type" formControlName="concessionSource">
                            <mat-option *ngFor="let concessionSource of concessionSourceTypes"
                                [value]="concessionSource">
                                {{concessionSource.mastervalue}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="general.controls.concessionSource.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="general.controls.concessionSource.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Concession Referred By :</mat-label>
                        <input matInput placeholder="Referred By" [matAutocomplete]="autoreferredBy"
                            formControlName="concessionReferredBy">
                        <mat-autocomplete #autoreferredBy="matAutocomplete" [displayWith]="displayFnreferredBy">
                            <mat-option *ngFor="let referredBy of filteredReferredBy | async" [value]="referredBy">

                                <span>{{referredBy.approver_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="Cons. Type" formControlName="concessionReferredBy">
                            <mat-option *ngFor="let referredBy of concessionReferredBy"
                                [value]="referredBy.approver_name">
                                {{referredBy.approver_name}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="general.controls.concessionReferredBy.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="general.controls.concessionReferredBy.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Authorized By :</mat-label>
                        <mat-select placeholder="Authorized By" formControlName="authorized">
                            <mat-option *ngFor="let authorized of authorizedBy" [value]="authorized.approver_name">
                                {{authorized.approver_name}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="general.controls.authorized.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="general.controls.authorized.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="service">
        <form [formGroup]="service">
            <ng-template matStepLabel>Service Particulars</ng-template>
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100"
                    class="m-gap p-gap">
                    <!-- <mat-form-field class="w-100"> -->
                    <button mat-stroked-button color="primary">Fill From Prescription(Radiology)</button>
                    <!-- </mat-form-field> -->
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex="100"
                    class="m-gap p-gap">
                    <!-- <mat-form-field class="w-100"> -->
                    <button mat-stroked-button color="primary">Fill From Prescription(Laboratory)</button>
                    <!-- </mat-form-field> -->
                </div>
            </div>
            <div>

                <button mat-button mat-flat-button color="primary" style="margin: 5px 0;" (click)="addService()">Add
                    Services</button>

                <!-- <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">

                    <ng-container matColumnDef="S.No">
                        <th mat-header-cell *matHeaderCellDef> S.No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Service">
                        <th mat-header-cell *matHeaderCellDef> Service </th>
                        <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Docter Name">
                        <th mat-header-cell *matHeaderCellDef> Docter Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.docterName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Rate">
                        <th mat-header-cell *matHeaderCellDef> Rate </th>
                        <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                    </ng-container>


                    <ng-container matColumnDef="L.Discount">
                        <th mat-header-cell *matHeaderCellDef> L.Discount </th>
                        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
                    </ng-container>



                    <ng-container matColumnDef="Cons.Type">
                        <th mat-header-cell *matHeaderCellDef> Cons.Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.consType}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Cons.Rate">
                        <th mat-header-cell *matHeaderCellDef> Cons.Rate</th>
                        <td mat-cell *matCellDef="let element"> {{element.consRate}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Net Amount">
                        <th mat-header-cell *matHeaderCellDef> Net Amount</th>
                        <td mat-cell *matCellDef="let element"> {{element.netAmount}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Remarks">
                        <th mat-header-cell *matHeaderCellDef>Remarks</th>
                        <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                                <mat-icon>create</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element" class="action-link">
                            <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table> -->

                <table class="my-table mat-elevation-z8">
                    <thead>
                        <th class="table-head">Service</th>
                        <th class="table-head">Doctor Name</th>
                        <th class="table-head">Rate</th>
                        <!-- <th class="table-head">L.Discount</th> -->
                        <th class="table-head">Cons.Type</th>
                        <th class="table-head">Cons.Rate</th>
                        <th class="table-head">Net Amount</th>
                        <th class="table-head">Edit</th>
                        <th class="table-head">Delete</th>
                    </thead>
                    <tr *ngFor="let Service of ServiceList">
                        <td class="table-cell">{{Service.service?.servicename}}</td>
                        <td class="table-cell">{{Service.docterName?.doctor_name}}</td>
                        <td class="table-cell">{{Service?.rate}}</td>
                        <!-- <td class="table-cell">{{Service.discount}}</td> -->
                        <td class="table-cell">{{Service.consType}}</td>
                        <td class="table-cell">{{Service.consRate}}</td>
                        <td class="table-cell">{{Service.netAmount}}</td>
                        <td class="table-cell">
                            <button mat-icon-button color="primary" (click)="editService(Service.sno)">
                                <mat-icon>create</mat-icon>
                            </button>
                        </td>
                        <td class="table-cell">
                            <button mat-icon-button color="warn" (click)="deleteService(Service.sno)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>

                    </tr>
                </table>

            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="payment">
        <form [formGroup]="payment">
            <ng-template matStepLabel>Payment</ng-template>

            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Concession Amt :</mat-label>
                        <input matInput placeholder="Concession Amount" type="number"
                            formControlName="concessionAmount">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Net Amount :</mat-label>
                        <input matInput placeholder="Net Amount" type="number" formControlName="netAmount">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Payment Mode :</mat-label>
                        <mat-select placeholder="Payment Mode" formControlName="paymentMode">
                            <mat-option *ngFor="let paymentMode of paymentModeTypes" [value]="paymentMode.mastervalue">
                                {{paymentMode.mastervalue}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="payment.controls.paymentMode.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="payment.controls.paymentMode.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap"
                    *ngIf="general.controls.billType.value === 'Credit' && payment.get('paymentMode').value === 'Credit'">
                    <mat-form-field class="w-100">
                        <mat-label>To Pay:</mat-label>
                        <input matInput placeholder="To Pay" type="number" formControlName="topay">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap"
                    *ngIf="general.controls.billType.value === 'Credit' && payment.get('paymentMode').value === 'Credit'">
                    <mat-form-field class="w-100">
                        <mat-label>To Pay by :</mat-label>
                        <mat-select placeholder="To Pay by" formControlName="toPayBy">
                            <mat-option value="Patient">Patient</mat-option>
                            <mat-option value="Doctor">Doctor</mat-option>
                            <mat-option value="Employee">Employee</mat-option>
                            <mat-option value="Corporate">Corporate</mat-option>
                        </mat-select>
                        <button mat-button *ngIf="payment.controls.toPayBy.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="payment.controls.toPayBy.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap"
                    *ngIf="general.controls.billType.value === 'Credit' && payment.get('paymentMode').value === 'Credit'">
                    <mat-form-field class="w-100">
                        <mat-label>Transfer O/S To :</mat-label>
                        <mat-select placeholder="Transfer O/S To." formControlName="transferOs">
                            <mat-option *ngFor="let transferOs of transferOsTypes"
                                [value]="transferOs.doctorname || transferOs.party_name">
                                {{transferOs.doctorname || transferOs.party_name}}
                            </mat-option>
                        </mat-select>
                        <button mat-button *ngIf="payment.controls.transferOs.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="payment.controls.transferOs.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap"
                    *ngIf="general.controls.billType.value === 'Credit' && payment.get('paymentMode').value === 'Credit'">
                    <mat-form-field class="w-100">
                        <mat-label>Remarks:</mat-label>
                        <input matInput placeholder="Remarks" formControlName="remark">
                    </mat-form-field>
                </div>



                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap"
                    *ngIf="payment.get('paymentMode').value === 'EFT'  || payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Transaction No :</mat-label>
                        <input matInput placeholder="EFT" formControlName="eft">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Card Type :</mat-label>
                        <mat-select placeholder="Card Type" formControlName="cardtype">
                            <mat-option value="">Select</mat-option>
                            <mat-option value="Rupay">Rupay</mat-option>
                            <mat-option value="Maestro">Maestro</mat-option>
                            <mat-option value="Master Card">Master Card</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Name in Card :</mat-label>
                        <input matInput placeholder="Name in Card" formControlName="cardName">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <mat-label>Card No :</mat-label>
                        <input matInput placeholder="Card No" formControlName="cardNo">
                    </mat-form-field>
                </div>
                <!-- <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Card'">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker2" placeholder="Card Expiry"
                            (dateChange)="date2($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div> -->
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <mat-label>Cheque/DD No.</mat-label>
                        <input matInput placeholder="Cheque/DD No." formControlName="ddNo">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <input matInput [matDatepicker]="picker3" placeholder="Card Expiry" [min]="ddexpiredMinDate"
                            [max]="ddexpiredMaxDate" (dateChange)="date3($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="payment.get('paymentMode').value === 'Cheque / DD'">
                    <mat-form-field class="w-100">
                        <mat-label>Cheque/DD Bank.</mat-label>
                        <mat-select placeholder="Payment Mode" formControlName="ddBank">
                            <mat-option *ngFor="let bank of bankTypes" [value]="bank.mastervalue">
                                {{bank.mastervalue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="submitButton">
                <button mat-stroked-button color="primary" class="padding-x" (click)="submit()"
                    *ngIf="saveBth">Save</button>
                <button mat-stroked-button color="primary" class="padding-x" (click)="saveAndContinue()"
                    *ngIf="saveBth">Save and
                    Continue</button>
                <button mat-stroked-button (click)="reset()" color="warn">Reset</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>