<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Patient Search
            </mat-panel-title>
            <mat-panel-description>
                <!-- Type your name and age -->
                <mat-icon>search</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="search">
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Branch :</mat-label>
                        <mat-select placeholder="Select Branch" formControlName="branch">
                            <!-- <mat-option value="">Select</mat-option> -->
                            <mat-option value="Aminjikarai">Aminjikarai</mat-option>
                            <mat-option value="PH Road">PH Road </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>UHID :</mat-label>
                        <input matInput placeholder="UHID" formControlName="uhid">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Patient Name :</mat-label>
                        <input matInput placeholder="Patient Name" formControlName="pname">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Spouse Name :</mat-label>
                        <input matInput placeholder="Spouse Name" formControlName="spousename">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Father Name :</mat-label>
                        <input matInput placeholder="Father Name" formControlName="fname">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Gender :</mat-label>
                        <mat-select placeholder="Gender" formControlName="gender">
                            <mat-option value="ALL">ALL</mat-option>
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female </mat-option>
                            <mat-option value="Transgender">Transgender</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Mobile Primary :</mat-label>
                        <input matInput placeholder="Mobile Number" maxlength="10" type="number" autocomplete="off"
                            formControlName="mobileNo" maxlength="10" (keypress)=_keyPress($event)>
                        <mat-error *ngIf="search.get('mobileNo').hasError('required')">
                            Please fill out this field.
                        </mat-error>
                        <mat-error *ngIf="search.get('mobileNo').hasError('pattern')">
                            Mobile Number should be 10 digit.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Email :</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Old Mr.No. :</mat-label>
                        <input matInput placeholder="Old Mr.No." formControlName="oldNo">
                    </mat-form-field>
                </div>
            </div>
            <div class="Button">
                <button mat-stroked-button class="padding-x" color="warn" (click)="searchCall()">Search</button>
                <button mat-stroked-button class="padding-x" color="primary" (click)="reset()">Clear</button>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>
<div fxLayout fxLayoutAlign="center center" *ngIf="searchList.length > 0">
    <mat-form-field fxFlex="40%">
        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<div class="mat-elevation-z8" *ngIf="searchList.length > 0">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="UHID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> UHID </th>
            <td mat-cell *matCellDef="let element"> {{element.uhid}} </td>
        </ng-container>

        <ng-container matColumnDef="Patient Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
            <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
        </ng-container>

        <ng-container matColumnDef="Age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="Age Type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Type </th>
            <td mat-cell *matCellDef="let element"> {{element.agetype}} </td>
        </ng-container>
        <ng-container matColumnDef="Mobile No">
            <th mat-header-cell *matHeaderCellDef> Mobile No </th>
            <td mat-cell *matCellDef="let element"> {{element.mobile_primary}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="OP">
            <th mat-header-cell *matHeaderCellDef> OP </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="navVisitEntry(element)" matTooltip="OP">
                    <mat-icon>pageview</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="MHC">
            <th mat-header-cell *matHeaderCellDef> MHC </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="navMHCRegistration(element)" matTooltip="MHC">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25,50,100]"></mat-paginator>
</div>