.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: flex-end;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-x {
  margin: 0 5px;
}
table {
  width: 100%;
}

.mat-header-cell {
  padding: 0px 10px !important;
  text-align: center;
}
.mat-cell {
  padding: 0px 10px !important;
}
