.submitButton {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
  align-items: center;
}
.padding-x {
  margin: 0 5px;
}
.mat-select-trigger {
  height: 0px !important;
  padding-bottom: 0px !important;
}
.card-header-color {
  background: whitesmoke;
}
mat-card-title {
  margin-bottom: 0 !important;
}
