<mat-card-header class="card-header-color">
    <mat-toolbar class="toolbar" style="justify-content: space-between;">
        <mat-card-title>Add Service</mat-card-title>
        <span class="toolbar-spacer"></span>
        <mat-icon (click)="onNoClick()" color="warn" style="cursor: pointer;">cancel</mat-icon>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container">
        <form [formGroup]="serviceForm" (submit)="onSubmit()">
            <div fxLayout="row wrap">
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="75" fxFlex.lg="75" fxFlex.xl="75" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Service :</mat-label>
                        <input matInput placeholder="Search Service" [matAutocomplete]="auto" formControlName="service">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnService"
                            (optionSelected)="onSelectionChanged($event)">
                            <mat-option *ngFor="let service of filteredServices | async" [value]="service">

                                <span>{{service.servicename}}</span>

                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Service :</mat-label>
                        <mat-select placeholder="Service" formControlName="service">
                            <mat-option *ngFor="let service of serviceTypes" [value]="service.servicename">
                                {{service.servicename}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="25" fxFlex.lg="25" fxFlex.xl="25" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Rate :</mat-label>
                        <input matInput placeholder="Rate" formControlName="rate">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap" *ngIf="docterBoolen">
                    <mat-form-field class="w-100">
                        <mat-label>Doctor Name :</mat-label>
                        <input matInput placeholder="Attending Physician" [matAutocomplete]="autoPhysician"
                            formControlName="docterName">
                        <mat-autocomplete #autoPhysician="matAutocomplete" [displayWith]="displayFnphysician">
                            <mat-option *ngFor="let attendingPhysician of filteredPhysician | async"
                                [value]="attendingPhysician">

                                <span>{{attendingPhysician.doctor_name}}</span>

                            </mat-option>
                        </mat-autocomplete>
                        <!-- <mat-select placeholder="Attending Physician" formControlName="docterName">
                            <mat-option *ngFor="let attendingPhysician of attendingPhysicianTypes"
                                [value]="attendingPhysician">
                                {{attendingPhysician.doctor_name}}
                            </mat-option>
                        </mat-select> -->
                        <button mat-button *ngIf="serviceForm.controls.docterName.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="serviceForm.controls.docterName.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <!-- <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Docter Name :</mat-label>
                        <input matInput placeholder="Docter Name" formControlName="docterName">
                    </mat-form-field>
                </div> -->

                <!-- <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>L.Discount :</mat-label>
                        <input matInput placeholder="L.Discount" formControlName="discount">
                    </mat-form-field>
                </div> -->
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Cons. Type :</mat-label>
                        <!-- <mat-select placeholder="Cons. Type" formControlName="consType">
                            <mat-option *ngFor="let concessionSource of concessionSourceTypes"
                                [value]="concessionSource.mastervalue">
                                {{concessionSource.mastervalue}}
                            </mat-option>

                        </mat-select> -->
                        <mat-select placeholder="Cons. Type" formControlName="consType">
                            <mat-option value="Percentage">Percentage</mat-option>
                            <mat-option value="Lumpsum">Lumpsum</mat-option>
                        </mat-select>
                        <button mat-button *ngIf="serviceForm.controls.consType.value" matSuffix mat-icon-button
                            aria-label="Clear"
                            (click)="serviceForm.controls.consType.setValue(''); $event.stopPropagation()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Cons. Rate :</mat-label>
                        <input matInput placeholder="Cons. Rate" formControlName="consRate">
                    </mat-form-field>
                </div>
                <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Net Amount :</mat-label>
                        <input matInput placeholder="Net Amount" disabled formControlName="netAmount">
                    </mat-form-field>
                </div>
                <!-- <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100"
                    class="m-gap p-gap">
                    <mat-form-field class="w-100">
                        <mat-label>Remarks :</mat-label>
                        <input matInput placeholder="Remarks" formControlName="remarks">
                    </mat-form-field>
                </div> -->
            </div>
            <div class="submitButton">
                <button mat-stroked-button color="primary" class="padding-x" type="submit">Submit</button>
            </div>

        </form>
    </div>
</mat-card-content>